<header>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container">
            <a class="navbar-brand text-white" routerLink="/employees/home">RRHH App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" routerLink="/employees/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" routerLink="/employees/create">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" routerLink="/users/home">Users</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="dropdown">
                        <button class="nav-link text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user?.username }}</button>
                        <ul class="dropdown-menu">
                            <li>
                              <button type="submit" class="dropdown-item" (click)="logout()">Log Out</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
<footer class="container">
    <p class="my-3">User logged: <span>{{ user?.username }}</span> | Roles: {{ user?.authorities | json }}</p>
</footer>
